*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
}
:root{
    --main-body-color:rgb(237, 255, 255);
    --main-header-color: rgba(0, 119, 119, 0.337);
    --main-header-text:rgb(255, 255, 255);
    --span:rgb(30, 119, 124);
    --About-text-color:rgb(245, 245, 245);
    --cards-color:rgb(255, 255, 255);
    --section-span: rgba(161, 209, 212, 0.692);
    --text-color: rgb(33, 59, 65);
}
/* Universal */
a{
    text-decoration: none;
}

section{
    min-height: 100vh;
    width: 100%;
}
span{
    color: var(--span);
}
/* body */
body{
    background-color: var(--main-body-color);
}
p{
    color: var(--text-color);
}
/* hearer */
header{
    background-color: var(--main-header-color);
    border-radius:0 0 0px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    display: flex;
    justify-content: space-between;
    padding:  20px 25px;
    font-weight: 600;
    text-shadow: 0.5px 0.5px 13px #00000090;
    position:fixed;
    z-index: 1;
    width: 100%;
}
header h2{
    color: var(--main-header-text);
    
}
.Brand h2{
    pointer-events: none;
    font-size: x-large;
}
.Header-nav ul{
    display: flex;
    list-style: none;
}
.Header-nav li{
    font-size: larger;
    padding:0 15px;
}
.Header-nav a{
    color: var(--main-header-text);
}
.Header-nav a:hover{
    color: var(--span);
}

.Contact-a a{
    font-size: large;
    background-color: transparent;
    border: var(--span) 3px solid;
    padding: 7px;
    border-radius: .5em;
}
/* hearer end*/
/* sections */
.Contact, .About, .Skills{
    position: relative;
    display: block;
    justify-content: center;
    padding: 7% 40px 20px 40px;
}
/* home page */
.Home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(1, 46, 46, 0.7)), url(../Sources/About_main.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-shadow: 2px 2px 4px #000000;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Home h1, h3{
    font-weight: 900;
    font-size: x-large;
    text-align: center;
    color: var(--About-text-color);
}
.Home span{
    text-shadow: 1px 2px 15px rgba(1, 87, 87, 0.514);
}
.home-button{
    font-weight: 600;
    border-style:hidden;
    padding: 8px;
    margin: 25px 15px;
    width: 120px;
    background-color: var(--span);
    position: relative;
    z-index: 0;
    opacity: 0.8;

}
.home-button:hover{
    border-bottom-color:var(--main-header-color);
    border-radius:0 20px 0 20px ;
}
.home-button a{
    font-size: large;
    font-weight: 600;
    color: var(--About-text-color);
}
.first-btn{
    background-color: var(--About-text-color);
}
.first-btn a{
    color: var(--span);
    text-shadow: 1px 1px 80% rgba(255, 255, 255, 0.514);
}
/* about page */
.About{
    position: relative;
}
.A-wrapper{
    /* background-color: rgba(135, 218, 218, 0.449); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0 40px 40px 40px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    overflow: hidden;
    margin-top: 40px;
    padding: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
}
.A-content{
    position: relative;
    z-index: 0;
    width:60%;
}
.About h1{
    border-bottom: var(--span) 1px solid;
}
.A-content h2{
    font-size: x-large;
    font-weight: 700;
}
.A-content p{
    font-size: medium;
    width: 60%;
    margin-top: 40px;
    padding-left: 30px;
}
.A-content span{
    font-size:xx-large;
}
.A-img{
    position: relative;
    width:40%;
    z-index: 0;
}
.A-img img{
    opacity: 1;
    width:100%;
    height: auto;
}
/* skills section */
.Skills{
    display: block;
    position: relative;
}
.Skills h1{
    border-bottom: var(--span) 1px solid;
}
.S-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: rgb(221, 249, 250);
    border-radius: 50px;
    margin-top: 7%;
    padding: 5% 5% 0 5%;
    flex-basis: 40%;
}
.s-programming{
    /* background-color: aqua; */
     width: 50%;
}
.s-Design{
    /* background-color: rgb(115, 123, 123); */
    width: 50%;} 
.s-title{
    padding-bottom: 30px;
    color: var(--span);
}
.skill{
    font-weight: thin;
    padding-bottom:15px;
    text-transform: uppercase;
}
.progress-bar{
    position: relative;
    width: 80%;
    height: 5px;
    background-color: #c5c4c4;
    border-radius: 20px;
    margin-bottom: 20px;
}
.progress-bar::after{
    position: absolute;
    content:  attr(value);
    height: 5px;
    top: -20px;
    right: 0;
    color: var(--span);
    font-size: small;
}
.progress-line{
    position: absolute;
    width: 0;
    height: 5px;
    background-color: var(--span);
    border-radius: 20px;
    animation: animate 2.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}
@keyframes animate{
    100%{
        width:100%;
    }
}
/* contact form */
.Contact{
    /* background-image: none url(/Sources/about_img.jpg);
    background-repeat: no-repeat; */
    background-color: rgba(184, 234, 234, 0.574);
    align-items: center;
}
.Contact h1{
    border-bottom: var(--span) 2px solid;
}
.sub-title{
    margin-top: 40px;
    text-align: center;
}
.sub-title p {
    margin-top: 20px;
    color: var(--text-color);
}
.c-wrapper{
    margin-top: 40px;
    margin-left: 10%;
    display: flex;
    width: 80%;
    justify-content: space-between;
    background-color: rgb(240, 252, 253);
    border-radius: 50px 0 50px 0;
    min-height: 50dvh;
    padding: 30px;
}
.Contact-info,.Contact-form{
    padding: 25px;
    margin: 10px;
}
.Contact-info{
    /* background-color: rgb(158, 186, 210); */
    width: 50%;
    align-self: center;
}
.info-wrap{
    margin-bottom: 20px;
    display: flex;
}
.info-wrap h4{
    color: var(--span);
}
.icon img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 15px;
}
.description{
    padding-top: 8px;
}
.description p{
    font-size: small;
}
.Contact-form{
    background-color: rgb(179, 223, 227);
    border-radius: 10px;
    width: 50%;
    margin-bottom: 15px;
}
.Contact-form h4{
    text-align: center;
}
.Contact-form form{
    display: flex;
    flex-direction: column;
}
.Contact-form form label{
    color: var(--span);
    padding: 10px 0;
}
.Contact-form form input{
    height: 30px;
    border: none;
    border-radius: 3px;
    border-style:none;
    border-bottom: var(--span) 3px solid;
}
.Contact-form form textarea{
    height: 100px;
    border: none;
    border-radius: 3px;
    border-bottom: var(--span) 3px solid;
}
.Contact-form form button{
    margin-top: 10px;
    background-color: var(--span);
    color: var(--About-text-color);
    border-radius: 3px;
    padding: 10px;
    border-style: none;
}
.Contact-form form button:hover{
    background-color: var(--About-text-color);
    color: var(--span);
    border:  var(--span) 2px solid;
    pointer-events: pointer;
}
.socials{
    display: flex;
    justify-content: center;
}
.social{
    margin: 20px;
}
